.widebox{
    background-color: rgb(96, 177, 150);
    height:30vh;
    width: 90%;
    border-radius: 25px;
    box-shadow:20px 20px 10px rgba(0, 0, 0, 0.329); 
}

.c{
    background-color: rgb(96, 177, 150);
}